@import url("fonts.css");
body {
  margin: 0;
}

* {
  font-family: 'OpenSans-Regular';
  color: #4D4F5C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.half-splitted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.half-splitted.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.triple-splitted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.triple-splitted > div {
  width: 32%;
}

button.square-like, a.square-like {
  display: block;
  outline: none;
  border-radius: 4px;
  border: 1px solid #4D4F5C;
  background: white;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button.square-like:hover, button.square-like:focus, button.square-like:active, a.square-like:hover, a.square-like:focus, a.square-like:active {
  cursor: pointer;
  color: white;
  background: #4D4F5C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.square-like.yellow, a.square-like.yellow {
  background: #FFEB00;
  border-color: transparent;
}

button.square-like.yellow:hover, button.square-like.yellow:focus, button.square-like.yellow:active, a.square-like.yellow:hover, a.square-like.yellow:focus, a.square-like.yellow:active {
  border-color: #4d4f5c;
  color: #4D4F5C;
}

input.line-based {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 16px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #E9E9EF;
  padding-left: 10px;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #595959;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input.line-based::-webkit-input-placeholder {
  color: #D4D4D4;
}

input.line-based:-moz-placeholder {
  color: #D4D4D4;
}

input.line-based::-moz-placeholder {
  color: #D4D4D4;
}

input.line-based:-ms-input-placeholder {
  color: #D4D4D4;
}

input.line-based:focus {
  outline: none;
  border-color: #626262;
}

input.line-based:focus:-webkit-input-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-moz-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-moz-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-ms-input-placeholder {
  color: #9D9C9C;
}

input.box-based {
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 3px 10px;
}

input.box-based:focus {
  outline: none;
  border-color: #626262;
}

input.box-based:invalid {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group label.required sup {
  color: red;
}

.form-group:not(.checkbox) {
  padding: 5px 0;
}

.form-group:not(.checkbox) label {
  pointer-events: none;
}

.form-group label {
  color: #43425D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-group.floating-label label {
  position: absolute;
  left: 10px;
  top: 0px;
  z-index: 1000;
}

.form-group.floating-label input:focus + label {
  font-size: 12px;
  top: -10px;
}

.form-group.floating-label input:valid + label, .form-group.floating-label input.static + label {
  font-size: 12px;
  top: -10px;
}

.form-group.static-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-group.checkbox input {
  margin-right: 10px;
}

.form-group.increased-font-size {
  font-size: 20px;
}

.form-group.dropdown input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.form-group.dropdown input[type="checkbox"]:checked ~ img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-group.dropdown .name {
  position: relative;
  background: transparent;
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E9E9EF;
  padding: 10px 20px;
}

.form-group.dropdown .name img {
  width: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-group.dropdown .name img:active ~ .items {
  display: block;
}

.form-group.dropdown .items {
  overflow: hidden;
  border: 1px solid #E9E9EF;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0;
  padding: 10px 20px;
  list-style: none;
}

.form-group.dropdown .items:empty {
  padding: 0;
  border: none;
}

.form-group.dropdown .items li {
  margin-bottom: 15px;
}

.form-group.dropdown .items li:last-of-type {
  margin-bottom: 0;
}

.form-group.dropdown .items li:hover {
  cursor: pointer;
}

.form-group.dropdown.box-based .name {
  background: white;
  padding: 5px 10px;
}

.form-group.icon-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-group.icon-label img {
  width: 24px;
}

.form-group.icon-label i {
  font-size: 24px;
}

.form-group.icon-label input {
  width: calc(100% - 26px);
}

.form-group.icon-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group.icon-input img, .form-group.icon-input i {
  position: absolute;
  right: 5px;
  width: 24px;
  font-size: 24px;
}

.underlined {
  text-decoration: underline;
}

.logo-text {
  font-family: 'Houchka-Bold', sans-serif;
  color: #43425D;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.gray-background {
  background: #EEEEEE;
}

.one-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one-line.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.one-line.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.hover {
  cursor: pointer;
}

textarea {
  border: 1px solid #E9E9F0;
  border-radius: 10px;
  padding: 10px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section main.main-content {
  height: 100vh;
  overflow: scroll;
}
/*# sourceMappingURL=style.css.map */