@import url("fonts.css");
* {
  font-family: 'OpenSans-Regular';
  color: #4D4F5C;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.half-splitted {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.half-splitted.vertical {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.triple-splitted {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.triple-splitted > div {
  width: 32%;
}

button.square-like, a.square-like {
  display: block;
  outline: none;
  border-radius: 4px;
  border: 1px solid #4D4F5C;
  background: white;
  padding: 10px 0;
  text-align: center;
  transition: 0.3s;
}

button.square-like:hover, button.square-like:focus, button.square-like:active, a.square-like:hover, a.square-like:focus, a.square-like:active {
  cursor: pointer;
  color: white;
  background: #4D4F5C;
  box-shadow: none;
}

button.square-like.yellow, a.square-like.yellow {
  background: #FFEB00;
  border-color: transparent;
}

button.square-like.yellow:hover, button.square-like.yellow:focus, button.square-like.yellow:active, a.square-like.yellow:hover, a.square-like.yellow:focus, a.square-like.yellow:active {
  border-color: #4d4f5c;
  color: #4D4F5C;
}

input.line-based {
  box-sizing: border-box;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #E9E9EF;
  padding-left: 10px;
  width: 100%;
  transition: 0.2s;
  color: #595959;
}

input.line-based::-webkit-input-placeholder {
  color: #D4D4D4;
}

input.line-based:-moz-placeholder {
  color: #D4D4D4;
}

input.line-based::-moz-placeholder {
  color: #D4D4D4;
}

input.line-based:-ms-input-placeholder {
  color: #D4D4D4;
}

input.line-based:focus {
  outline: none;
  border-color: #626262;
}

input.line-based:focus:-webkit-input-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-moz-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-moz-placeholder {
  color: #9D9C9C;
}

input.line-based:focus:-ms-input-placeholder {
  color: #9D9C9C;
}

input.line-based:invalid {
  outline: none;
  box-shadow: none;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group:not(.checkbox) {
  padding: 5px 0;
}

.form-group:not(.checkbox) label {
  pointer-events: none;
}

.form-group label {
  color: #43425D;
  transition: 0.3s;
}

.form-group.floating-label label {
  position: absolute;
  left: 10px;
  top: 0px;
  z-index: 1000;
}

.form-group.floating-label input:focus + label {
  font-size: 12px;
  top: -10px;
}

.form-group.floating-label input:valid + label, .form-group.floating-label input.static + label {
  font-size: 12px;
  top: -10px;
}

.form-group.checkbox input {
  margin-right: 10px;
}

.form-group.increased-font-size {
  font-size: 20px;
}

.form-group.dropdown input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.form-group.dropdown input[type="checkbox"]:checked ~ img {
  transform: rotate(180deg);
}

.form-group .name {
  position: relative;
  background: transparent;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9EF;
  padding: 10px 20px;
}

.form-group .name img {
  width: 24px;
  transition: 0.3s;
}

.form-group .name img:active ~ .items {
  display: block;
}

.form-group .items {
  overflow: hidden;
  border: 1px solid #E9E9EF;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0;
  padding: 10px 20px;
  list-style: none;
}

.form-group .items:empty {
  padding: 0;
  border: none;
}

.form-group .items li {
  margin-bottom: 15px;
}

.form-group .items li:last-of-type {
  margin-bottom: 0;
}

.form-group .items li:hover {
  cursor: pointer;
}

.form-group.icon-label {
  display: flex;
  align-items: flex-end;
}

.form-group.icon-label img {
  width: 24px;
}

.form-group.icon-label i {
  font-size: 24px;
}

.form-group.icon-label input {
  width: calc(100% - 26px);
}

.underlined {
  text-decoration: underline;
}

.logo-text {
  font-family: 'Houchka-Bold', sans-serif;
  color: #43425D;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.gray-background {
  background: #EEEEEE;
}

textarea {
  border: 1px solid #E9E9F0;
  border-radius: 10px;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */