@import url('fonts.css')
    
*
    font-family: 'OpenSans-Regular'
    color: #4D4F5C
    


*
    box-sizing: border-box


    
a
    text-decoration: none



.half-splitted
    display: flex
    justify-content: space-between
    vertical-align: middle
    width: 100%
    &.vertical
        flex-direction: column
        align-items: center
        justify-content: flex-start



button.square-like, a.square-like
    display: block
    outline: none
    border-radius: 4px
    border: 1px solid #4D4F5C
    background: white
    padding: 10px 0
    text-align: center
    transition: 0.3s
    &:hover, &:focus, &:active
        cursor: pointer
        color: white
        background: #4D4F5C
        box-shadow: none
    &.yellow
        background: #FFEB00
        border-color: transparent
        &:hover, &:focus, &:active
            border-color: #4d4f5c
            color: #4D4F5C



input.line-based
    box-sizing: border-box
    font-family: 'ProximaNova-Regular', sans-serif
    font-size: 16px
    border: none
    border-radius: 0
    border-bottom: 1px solid #E9E9EF
    padding-left: 10px
    width: 100%
    transition: 0.2s
    color: #595959
    &::-webkit-input-placeholder
        color: #D4D4D4
    &:-moz-placeholder
        color: #D4D4D4
    &::-moz-placeholder
        color: #D4D4D4
    &:-ms-input-placeholder
        color: #D4D4D4
    &:focus
        outline: none
        border-color: #626262
        &:-webkit-input-placeholder
            color: #9D9C9C
        &:-moz-placeholder
            color: #9D9C9C
        &:-moz-placeholder
            color: #9D9C9C
        &:-ms-input-placeholder
            color: #9D9C9C
    &:invalid
      outline: none
      box-shadow: none



.form-group
  position: relative
  margin-bottom: 30px
  &:not(.checkbox)
    padding: 5px 0
    label
      pointer-events: none
  label
    color: #43425D
    transition: 0.3s
  &.floating-label
    label
      position: absolute
      left: 10px
      top: 0px
      z-index: 1000
    input
      &:focus
        & + label
          font-size: 12px
          top: -10px
      &:valid + label, &.static + label
          font-size: 12px
          top: -10px
  &.checkbox
    input
      margin-right: 10px
    label, input
      cursor: pointer



.logo-text
  font-family: 'Houchka-Bold', sans-serif
  color: #43425D
  text-align: center
  text-transform: uppercase
  letter-spacing: 5px
  margin: 0



.gray-background
    background: #EEEEEE